.div1,.div2{
    
    background-color:wheat;
   height: 150px;
   padding: 20px;
   border: 20px solid rgb(94, 128, 228);
   margin: 20px;
}


.div1 img{
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    position: relative;
}
.div2 img{
    width: 100px;
    height: 100px;
    display: block;
    float: right;
    position: relative;
}